.sidebar-inner{
    padding:20px;
}
.profile{
    margin-bottom:40px;
}
.profile img{
    width:50px;
    height:50px;
    border-radius: var(--radius);
}
.profile .name{
    padding:0;
    margin:0;
}
.profile .address{
    margin:0;
    padding-top:3px;
    padding-bottom:0;
    color:#C3CCD3;
}
.body-info{
    padding:15px 30px;
    background-color: var(--bg-color);
    border-radius: var(--radius);
    margin-bottom:40px;
}
.body-info .b-info-no{
    font-size:25px;
    font-weight: bold;
    padding-bottom:3px;
}
.body-info .b-info-no .unit{
    font-size:18px;
    font-weight: normal;
    color:#9DACC1;
    font-weight: 500;
}
.body-info p{
    margin:0;
    padding:0;
    color:#6B6E7B;
    font-weight: 500;
}
.break-inner{
    padding:15px 20px;
    background-color: var(--bg-color);
    border-radius: var(--radius);
    margin-bottom:40px;
    margin-top:15px;
}
.break-item{
    min-width:45px;
    height:45px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-card);
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}
.break-item:hover{
    background-color: var(--primary-color);
    color:var(--bg-color-card)
}

.exercise-details{
    margin-bottom:40px;
}

.exercise-details .time-exr-br{
    padding:12px;
    font-weight: 500;
    background-color: var(--bg-color);
    border-radius: var(--radius);
    margin-bottom:20px;
}
.exercise-details .times{
    color:#9DACC1;
}