
:root{
  --text-color: #C3CCD3;
  --primary-color:purple;
  --primary-hover: dodgerblue;
  --bg-color:#F2F4FA;
  --bg-color-card: #ffffff;
}
.d-flex{
  display:flex;
}
.gap-20{
  gap:20px;
}
.align-i-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}